<ion-header>
  <ion-toolbar>
    <ion-title>Add a plant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Plant name</ion-label>
    <ion-input (change)="onChange($event, 'name')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input (change)="onChange($event, 'description')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Days to water</ion-label>
    <ion-input type="number" (change)="onChange($event, 'water')"></ion-input>
  </ion-item>
  <ion-button expand="block" color="secondary" strong="true" (click)="addPhoto()" class="ion-margin-top">
    Add photo
  </ion-button>
  <ion-button expand="block" color="primary" strong="true" (click)="close()" class="ion-margin-top">
    Confirm
  </ion-button>
</ion-content>